<div class="wrap">
<p>Please Wait</p>
</div>

<script>
  var getParameterByName = function(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
    results = regex.exec(location.search);
    return results === null ? null : decodeURIComponent(results[1].replace(/\+/g, " "));
  }

  var returnLocation = getParameterByName("loc");
  if(returnLocation != null){
    window.top.location = returnLocation;
  }
  else {
    window.top.location = "/";
  }
</script>